{% extends "base.html" %}

{% load static from staticfiles %}

{% block title %}Employees Database{% endblock title %}

{% block content %}

<div class='container'>
  <div class="align-left">
    <a href="{% url 'employees_add' %}" class="btn btn-primary">Add Employee</a>
  </div>
  <div class="align-right">
    <form action="{% url 'employees_search' %}" method="get">
      <input  id="search_box" type="text" name="search_name" placeholder="Employee Name" >
      <button id="search_submit" type="submit" class="btn btn-primary" >Search</button>
    </form>
  </div>
</div>

{% if employees.has_other_pages %}
<nav>
  <ul class="pagination">
    <li><a href="{% url 'home' %}?page=1">&laquo;</a></li>
    {% for p in employees.paginator.page_range %}
      <li {% if employees.number == p %}class='active'{% endif %}>
          <a href="{% url 'home' %}?page={{ p }}">{{ p }}</a>
      </li>
    {% endfor %}
    <li>
      <a href="{% url 'home' %}?page={{ paginator.num_pages }}">&raquo;</a>
    </li>
  </ul>
</nav>
{% endif %}

<!-- Start Employees Listing -->
<table class="table">
  <thead>
    <tr>
      <th>EmpID</a></th>
      <th>EmpName</a></th>
      <th>EmpActive</a></th>
      <th>EmpDepartment</a></th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>

    {% for employee in employees %}
      <tr>
          <td>{{ employee.id }}</td>
          <td>{{ employee.emp_name }}</td>
          {% if employee.emp_active == True %}
            <td>Yes</td>
          {% else %}
            <td>No</td>
          {% endif %}
          <td>{{ employee.emp_department }}</td>
      <td>

      <div class="btn-group btn-group-md">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Action
          <span class="caret"></span>
        </button>

        <ul class="dropdown-menu" role="menu">
          <li><a href="{% url 'employees_view' employee.id %}">View</a></li>
          <li><a href="{% url 'employees_edit' employee.id %}">Edit</a></li>
          <li><a href="{% url 'employees_delete' employee.id %}">Delete</a></li>
        </ul>

      </div>

      </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
<!-- End Employees Listing -->

{% if employees.has_other_pages %}
<nav>
  <ul class="pagination">
    <li><a href="{% url 'home' %}?page=1">&laquo;</a></li>
      {% for p in employees.paginator.page_range %}
        <li {% if employees.number == p %}class='active'{% endif %}>
            <a href="{% url 'home' %}?page={{ p }}">{{ p }}</a>
        </li>
      {% endfor %}
    <li>
    <a href="{% url 'home' %}?page={{ students.paginator.num_pages}}">&raquo;</a>
    </li>
  </ul>
</nav>
{% endif %}

{% endblock content %}
