{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="uk">
<head>
  <meta charset="UTF-8"/>
  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet"
        href="{% static 'css/main.css' %}">

</head>
<body>

  <!-- Start Container -->
  <div class="container">

    <!-- Start Header -->
    <div class="row" id="header"> 
      <div class="col-xs-8">
        <h1>Employees Data</h1>
      </div>
    <!-- End Header -->

    <!-- Start subheader -->
    <!--<div class="row" id="sub-header"> -->
      <!--<div class="col-xs-12">-->
        <!--<ul class="nav nav-tabs" role="tablist">-->
          <!--<li role="presentation" class="active"><a href="#">Студенти</a></li>-->
          <!--<li role="presentation"><a href="#">Відвідування</a></li>-->
          <!--<li role="presentation"><a href="#">Групи</a></li>-->
        <!--</ul>-->
      <!--</div>-->
    <!--</div>-->
    <!-- End subheader -->

    <!-- Start Content Columns -->
    <div class="row" id="content-columns">
      <div class="col-xs-12" id="content-column">

        <!--<h2>База Студентів</h2>-->
        <a href="{% url "employees_add" %}" class="btn btn-primary">Add Employee</a>

        <!--<div></div>-->

        <nav>
          <ul class="pagination">
            <li><a href="#">&laquo;</a></li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">&raquo;</a></li>
          </ul>
        </nav>
        
        <!-- Start Students Listing -->
        <table class="table">
          <thead>
            <tr>
              <th>EmpID</a></th>
              <th>EmpName</a></th>
              <th>EmpActive</a></th>
              <th>EmpDepartment</a></th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>

            {% for employee in employees %}
              <tr>
                  <td>{{ forloop.counter }}</td>
                  <td>{{ employee.emp_name }}</td>
                  <td>{{ employee.emp_active }}</td>
                  <!--<td>{{ student.student_group.title }}</td>-->
                  <td>{{ employee.emp_department }}</td>
              <td>

              <div class="btn-group btn-group-md">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Дія
                  <span class="caret"></span>
                </button>

                <ul class="dropdown-menu" role="menu">
                  <li><a href="{% url 'employees_view' employee.id %}">View</a></li>
                  <li><a href="{% url 'employees_edit' employee.id %}">Edit</a></li>
                  <li><a href="{% url 'employees_delete' employee.id %}">Delete</a></li>
                </ul>

              </div>

              </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        <!-- End Students Listing -->
        
        <nav>
          <ul class="pagination">
            <li><a href="#">&laquo;</a></li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">&raquo;</a></li>
          </ul>
        </nav>
        
      </div>
    </div>
    <!-- End Content Columns -->

  </div>
  <!-- End Container -->

  <!-- Javascripts Inclusion -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
