/* Global Styles */
.alert {
  margin: 10px 0 5px 0;
}
h1, h2 {
  font-weight: bold;
}
.container{ width:100%; }
.align-left{
    float: left;
    width: 50%;
}
.align-right{
    float: right;
    width: 50%;
}
